body{
    background-color: rgb(66, 198, 255);
}

h1{
    text-align: center;
    font-style: italic;
    font-weight: 600;
}


#main{
    display: grid;
    grid-row-gap: 50px;
    background-color: #ff4e4e;
    padding: 10px;
    width: 900px;
    margin-left: 300px;
  }


  #userInput{
      margin-left: 300px;
      margin-top: 50px;

  }
  #userInput>button{
      margin-left: 50px;
  }
  #appImage,#review{
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }

  #no{
    margin-left: 50px;
  }


#reviewText{
    font-size: 18px;
    text-align: left;
}




#textbox{
    font-size: 20px;
    text-align: justify;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;

}
button{
    font-size: 20px;

}

.checked {
    color: orange;
  }
  #star{
      font-size: 20px;
  }