
body{
    margin: 0;
    padding: 0;
}

.resultContain {
  display: flex;
	padding:3vw;
  flex-wrap: wrap;
}
.subresultContain{
  padding: 3vw;
  padding-top: 10vw;
  padding-left: 3vw;
  flex: 40%;
  
  /* border: 1px solid rgb(193, 109, 0); */
object-fit: contain;
}
h2{
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 3vw;
}
ul{
  font-family: 'Noto Sans HK', sans-serif;
  font-size: 1.5vw;
}
@media screen and (max-width: 700px) {
  .resultContain {   
    flex-direction: column;
  }
}
 
 

    
