@import url("https://fonts.googleapis.com/css?family=Varela+Round");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#header {
  text-align: center;
  font-size: 5em;
  height: 100px;
  width: 100%;
  position: sticky;
  background-color: #2c3e50;
  transition: all 1s;
  font-family: "Varela Round", sans-serif;
  color: aliceblue;
}

#footer {
  text-align: center;
  display: grid;
  background-color: #2c3e50;
  grid-template-columns: auto auto auto auto;
  position: sticky;
  left: 0;
  width: 100%;
  height: 100px;
  color: aliceblue;
}
.grid-item {
  background-color: #2c3e50;
  padding: 30px;
  font-size: 1em;
  text-align: center;
  border-style: solid;
  border-width: 1px;
}
